.Container_consulting {
  margin-top: 20px;
  width: 100%;
  height: 500px;
  background-image: url(../img/businessman-3189794_1280.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
