.contact-form-container {
  margin-top: 5%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-form-container .contact-form {
  width: 800px;
  height: 100%;
  border: 1px solid lightgrey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-form-container .contact-form label {
  margin-top: 10px;
  color: green;
  font-size: 3vh;
  width: 300px;
  line-height: 1.5;
}
.contact-form-container .contact-form input {
  margin-top: 10px;
  width: 300px;
  border: 2px solid lightgrey;
  font-size: 2.5vh;
}
.contact-form-container .contact-form textarea {
  margin-top: 10px;
  width: 300px;
  border: 2px solid lightgrey;
  font-size: 2.5vh;
}
.contact-form-container .contact-form .button-primary {
  margin-top: 10px;
  font-size: 2.5vh;
  background-color: green;
  border-radius: 25px;
  height: 50px;
  width: 100px;
  color: white;
  margin-bottom: 10px;
}
