.Funding_info-Container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Funding_info-Container .funding_info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Funding_info-Container .funding_info h2 {
  font-size: 6vh;
  text-align: center;
  color: green;
  margin-top: 10%;
  line-height: 2;
}
.Funding_info-Container .funding_info p {
  margin-top: 20px;
  width: 90%;
  padding-left: 10%;
  font-size: 3vh;
  line-height: 2;
  color: black;
  text-align: center;
}
.Funding_info-Container .terms {
  height: 300px;
  width: 300px;
  border: 2px solid grey;
  margin-left: 15%;
  margin-top: 10%;
  margin-bottom: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: green;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.Funding_info-Container .terms h2 {
  font-size: 1.20rem;
  font-weight: 700;
  color: white;
}
.Funding_info-Container .terms p {
  font-size: 1.20rem;
  font-weight: 700;
  color: white;
}
