.mapsContent {
  width: 100%;
  height: 600px;
}
.mapsContent .maps_Container {
  width: 100%;
  height: 600px;
}
.mapsContent .mapouter {
  margin-top: 2.5%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mapsContent .mapouter .gmap_canvas {
  width: 100%;
  text-align: center;
}
